In [3]:
mark = int(input("Enter the mark\n"))

if mark < 0 or mark > 100: 
    print("Invalid marks are entered!")
elif mark >= 0 and mark < 35 :
    print("Sorry you failed!")
elif mark >= 35 and mark < 80 :
    print("You passed in first class")
else :
    print("You got distinction!")

Enter the mark
-1
Invalid marks are entered!

In [5]:
number1 = int(input("Enter first number \n"))
number2 = int(input("Enter second number \n"))


if number1 == number2:
    print("Both numbers are same")
else:
    if number1 > number2:
        print("First number is bigger than second")
    else:
        print("First number is smaller than second")

Enter first number
22
Enter second number
22
Both numbers are same

In [7]:
salary = int(input("Enter a number\n"))

if salary > 100000:
    print("you can buy car as well home")
elif salary == 100000:
    print("you can buy car only")
elif salary > 50000 and salary < 100000:
    print("you can buy bike")
else:
    print("save more money")

Enter a number
101111
you can buy car as well home

In [11]:
# Password and Username Checking
username = input("Enter your username: ")
password = input("Enter your password: ")


if username == "admin":
    if password == "password":
        print("Login successful! Welcome, admin.")
    elif password == "12345":
        print("Weak password. Please reset your password.")
    else:
        print("Incorrect password. Please try again.")
else:
    if username == "guest":
        if password == "guest":
            print("Login successful! Welcome, guest.")
        else:
            print("Incorrect password. Please try again.")
    else:
        print("Unknown user. Please try again.")

Enter your username: guest
Enter your password: password
Incorrect password. Please try again.

In [14]:
length_in_cm = input("Enter the lenght in centimeter\n")


length_in_cm = float(length_in_cm)


if length_in_cm < 0 :
    print("You have entered negative value. ")
else:
    length_in_inches = length_in_cm / 2.54
    print(length_in_cm, " cm = ", length_in_inches, " inches")

Enter the lenght in centimeter
-3
You have entered negative value.

In [15]:
a = 10 

if a == 11 :
    print("this is my first condition")

In [16]:
a = 11 

if a == 11 :
    print("this is my first condition")

this is my first condition

In [17]:
a = 10
if a > 5 :
    print("ok i satisfy")

ok i satisfy

In [18]:
a = 4
if a > 5 :
    print("ok i satisfy")

In [19]:
a = 10
if a == 11:
    print("my condition is false")
else :
    print("print this ")

print this

In [20]:
a = 10 

if a == 12 :
    print("here we are trying to compare 10 with 12")
elif a == 10:
    print("we are trying to compare 10 with 11")
else :
    print("if all the blocks wil fail then do this ")

we are trying to compare 10 with 11

In [26]:
price = -100

if price > 500 : 
    print(" may be i wont be able to buy a jacket ")
elif price < 500 :
    print("i will be able to buy a jacket")
elif  price == 500 :
    print("for sure i will be able to buy")
else  :
    print("i dont know")

i will be able to buy a jacket

In [27]:
lis = [1,2,3,4,5,6]

if 60 in lis :
    print("try to perform a task ")
else :
    print("do not perform this task")

do not perform this task

In [28]:
lis = [1,2,3,4,5,6]

if 60 not in lis :
    print("try to perform a task ")
else :
    print("do not perform this task")

try to perform a task

In [33]:
lis = [1,2,3,4,5,6]

if 10 in lis :
    print("thy to do a addition")
elif 2 in lis :
    print("try to do sub")
elif 3 in lis :
    print("try to do mul")
if 4 in lis :
    print("this is new statement")

try to do sub
this is new statement

In [ ]:
if 
elif
elif
if
else

In [35]:
price  = int(input())

if price  < 500 :
    print("i will be able to buy something")
    print()
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300 :
        print("i will be able to buy a shirt")
        if price < 200 :
            print("i would like to do sometign")
    else :
        print("i wont be able to buy anyting")
else :
     print("i wont be able to buy anything with this price tag")

450
i will be able to buy something

i wont be able to buy anyting

In [39]:
marks = int(input())

if marks < 600:
    print("NO GRE")
    if marks < 500:
        print("TOFEL")
        if marks < 400:
            print("Try something else")
    else:
        print("YOU GOT TOFEL")
        
elif marks > 600:
    print("you will get IIT")
    if marks > 700:
        print("you will get IIM")
    else:
        print("try next time")
else:
    print("You got GRE congratulations")

390
TOFEL
Try something else

In [41]:
val  = float(input("enter a floating point number"))

if val >= 0 :
    if val == 0 :
        print("entered value is zero")
    else :
        print("enter value is a positive number ")
else :
    print("entered number is a negative number")

enter a floating point number-7
entered number is a negative number

In [ ]:
mark = int(input("entrance exam marks"))

if mark > 700:
    print()
    if mark :
        print()
    elif:
        print()
        if:
            print()
        else:
            print()
    else:
        print()
elif:
    print()
    
else:
    print()