In [ ]:
iterable = str, list, tuple, set, dict
iterator = for, while
iteration = process

In [1]:
l = [1,2,3,4,"sudh" ,"kumar" , 45.56]

In [2]:
for val in l:
    print(val)

1
2
3
4
sudh
kumar
45.56

In [3]:
for val in l:
    print("hello")

hello
hello
hello
hello
hello
hello
hello

In [4]:
for val in l:
    print("--->", val)

---> 1
---> 2
---> 3
---> 4
---> sudh
---> kumar
---> 45.56

In [5]:
str1 = "this is my first string"
str2 = "this is my second string"

In [8]:
for j in str1:
    print(j, end = "")

this is my first string

In [10]:
for i in l :
    print(i)
    pass

1
2
3
4
sudh
kumar
45.56

In [11]:
a = "3574"
for i in a:
    print(i)

3
5
7
4

In [12]:
a1 = 3574
for i in a1:
    print(i)

TypeError: 'int' object is not iterable

In [13]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else ")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itself the it will execute else

In [14]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3

In [15]:
for i in l :
    if i == 4 :
        pass
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3
4
sudh
kumar
45.56
this will execute only if for is going to complete itself

In [16]:
for i in l :
    if i == 4 :
        continue
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3
sudh
kumar
45.56
this will execute only if for is going to complete itself

In [27]:
d = {'key1' :"sudh" , 'contact' : 235476 , "position" : "mentor"}

In [28]:
for i in d:
    print(i)

key1
contact
position

In [29]:
for i in d.values():
    print(i)

sudh
235476
mentor

In [30]:
for i in d.items():
    print(i,      "---->", type(i))

('key1', 'sudh') ----> <class 'tuple'>
('contact', 235476) ----> <class 'tuple'>
('position', 'mentor') ----> <class 'tuple'>

In [31]:
for i, j in d.items():
    print(i,"---->", type(i), j,"---->", type(j))

key1 ----> <class 'str'> sudh ----> <class 'str'>
contact ----> <class 'str'> 235476 ----> <class 'int'>
position ----> <class 'str'> mentor ----> <class 'str'>

In [32]:
set1 = {1,2,3,1,2,3}
for i in set1:
    print(i)

1
2
3

In [33]:
for i in d:
    print(i,":" ,  d[i])

key1 : sudh
contact : 235476
position : mentor

In [34]:
n = 5
for i in range(n):
    print(i**2)

0
1
4
9
16

In [35]:
for i in range(2, 21, 2):
    print(i**2)

4
16
36
64
100
144
196
256
324
400

In [42]:
n = 4

for i in range(4) :
    for j in range(0, i+1) : 
        print("DA",  end = " " )
    print("\n")

DA

DA DA

DA DA DA

DA DA DA DA

In [45]:
n = 5

for i in range(n) :
    for j in range(0, i+1) : 
        print("*",  end = "  ")
    print( "\n")

*

*  *

*  *  *

*  *  *  *

*  *  *  *  *

In [48]:
n = 5

for i in range(n) :
    for i in range(n-i):
        print("#", end = " ")
    for j in range(0, i+1) : 
        print(" ",  end = " ")
    print( "\n")

# # # # #

# # # #

# # #

# #

#

In [53]:
n=5  # (0,1,2,3,4)

for i in range(n):
    for j in range(i,n-1):
        print(" " * len("DA"), end=" ")
    for j in range(i+1):
        print("DS", end=" ")
    for j in range(i): 
        print("AI",end=" ")
    print()

            DS
         DS DS AI
      DS DS DS AI AI
   DS DS DS DS AI AI AI
DS DS DS DS DS AI AI AI AI