In [1]:
dict1 = {"name": "jasmine", "class":[1,3,4,6]}

In [2]:
list1 = [1,2,3,"dg", {"name": "jasmine"}]

In [3]:
d = { 1:[1,(1,2)], 2:(1,[1,5,3]), 3:[1,{4:(5,6)}]}

In [6]:
for i in d.items():
    print(i,"   ",  type(i),"   ",type(i[1]))

(1, [1, (1, 2)])     <class 'tuple'>     <class 'list'>
(2, (1, [1, 5, 3]))     <class 'tuple'>     <class 'tuple'>
(3, [1, {4: (5, 6)}])     <class 'tuple'>     <class 'list'>

In [7]:
d = { 1:[1,2], 2:[1,3], 3:[2,3]}

In [10]:
for i in d.items():
    print(i, d.keys())

(1, [1, 2]) dict_keys([1, 2, 3])
(2, [1, 3]) dict_keys([1, 2, 3])
(3, [2, 3]) dict_keys([1, 2, 3])

In [11]:
d = {1: ([["a","b"],1,2],"Nikita","mayuri"), 2: ([[2,"b"],"k1",2000],"mayuri","nikita")}

In [12]:
for i in d.items():
    print(type(i[1][0][0][0]))

<class 'str'>
<class 'int'>

In [15]:
d[2][0][0][1]

'b'

In [16]:
dic = {"A": 22, "B": 33}

In [17]:
for i in dic.items():
    print(i)

('A', 22)
('B', 33)

In [18]:
t = ("sudh","kumar",[1,3,5,7,4],(3,5,88,4),{3:3,3:"kjshdf","key1":"sudh","key2":"kumar"})

In [19]:
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        for k,v  in i.items():
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
kjshdf

In [20]:
times = int(input("Enter the height of triangle\n"))
print()

items = []

for i in range(times):
    items.append(i+1)

print(items)

Enter the height of triangle
5

[1, 2, 3, 4, 5]

In [21]:
list1 = []
for i in range(6):
    list1.append(i)
    
list1

[0, 1, 2, 3, 4, 5]

In [23]:
for j in range(10):
    print(j, j * "*" ,(j-1) * "#", (j+1)*"$")

0   $
1 *  $$
2 ** # $$$
3 *** ## $$$$
4 **** ### $$$$$
5 ***** #### $$$$$$
6 ****** ##### $$$$$$$
7 ******* ###### $$$$$$$$
8 ******** ####### $$$$$$$$$
9 ********* ######## $$$$$$$$$$

In [24]:
n = 5
for i in range(n):           #(0,1,2,3,4),  
    for j in range(i+1):      #(1), (2),  (3), (4), (5)
        print(" ",end=" ")    
    for j in range(i,n-1):    #(0,1,2,3), (1,2,3), (2,3), (3), ()
        print("*",end=" ")
    for j in range(i,n):      #(0,1,2,3,4), (1,2,3,4), (2,3,4), (3,4), (4)
        print("*",end=" ")
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [25]:
n = 5
for i in range(n-1):             #(0,1,2,3)      
    for j in range(i,n):         #(0,1,2,3,4), (1,2,3,4), (2,3,4), (3,4)
        print(" ",end=" ")       
    for j in range(i):           #(0), (1), (2), (3)
        print("*",end=" ")
    for j in range(i+1):         #(1), (2), (3), (4)
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *

In [26]:
n = 5
for i in range(n-1):             #(0,1,2,3)      
    for j in range(i,n):         #(0,1,2,3,4), (1,2,3,4), (2,3,4), (3,4)
        print(" ",end=" ")       
    for j in range(i):           #(0), (1), (2), (3)
        print("*",end=" ")
    for j in range(i+1):         #(1), (2), (3), (4)
        print("*",end=" ")
    print()
n = 5
for i in range(n):           #(0,1,2,3,4),  
    for j in range(i+1):      #(1), (2),  (3), (4), (5)
        print(" ",end=" ")    
    for j in range(i,n-1):    #(0,1,2,3), (1,2,3), (2,3), (3), ()
        print("*",end=" ")
    for j in range(i,n):      #(0,1,2,3,4), (1,2,3,4), (2,3,4), (3,4), (4)
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [27]:
n = 5
for i in range(n):
    for j in range(i, n-1):
        print(" ", end = " ")
    for j in range(i+1):
        print("*", end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [33]:
n = 5
for i in range(n):           #(0,1,2,3,4),  
    for j in range(i+1):      #(1), (2),  (3), (4), (5)
        print("    ",end=" ")    
    for j in range(i,n-1):    #(0,1,2,3), (1,2,3), (2,3), (3), ()
        print("DATA",end=" ")
    for j in range(i,n):      #(0,1,2,3,4), (1,2,3,4), (2,3,4), (3,4), (4)
        print("AIML",end=" ")
    print()

     DATA DATA DATA DATA AIML AIML AIML AIML AIML
          DATA DATA DATA AIML AIML AIML AIML
               DATA DATA AIML AIML AIML
                    DATA AIML AIML
                         AIML