In [1]:
list1 = [2,3,4,5]

In [7]:
for i in list1:
    print(i+1)

3
4
5
6

In [9]:
[i**2 for i in list1]

[4, 9, 16, 25]

In [6]:
list((i for i in list1))

[2, 3, 4, 5]

In [10]:
var = "data science"

In [11]:
[i for i in var]

['d', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e']

In [12]:
[{type(i), i} for i in list1]

[{2, int}, {3, int}, {4, int}, {5, int}]

In [13]:
numbers = [1, 2, 3, 4, 5]

In [14]:
squared = [i ** 2 for i in numbers]

In [15]:
print(squared)

[1, 4, 9, 16, 25]

In [16]:
[i for i in range(11) if i % 2 == 0]

[0, 2, 4, 6, 8, 10]

In [17]:
list2 = [{type(i), i} for i in range(11) if i % 2 == 0]
print(list2)

[{0, <class 'int'>}, {2, <class 'int'>}, {4, <class 'int'>}, {6, <class 'int'>}, {8, <class 'int'>}, {10, <class 'int'>}]

In [18]:
matrix = [[j for j in range(4)] for i in range(4)]

print(matrix)

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [19]:
for i in range(4):
    for j in range(4):
        print(j)

0
1
2
3
0
1
2
3
0
1
2
3
0
1
2
3

In [20]:
def list_comprehension(n):
    return [i**2 for i in range(n)]

In [21]:
list_comprehension(6)

[0, 1, 4, 9, 16, 25]

In [22]:
lis = ["Even number" if i % 2 == 0 else "Odd number" for i in range(8)]
print(lis)

['Even number', 'Odd number', 'Even number', 'Odd number', 'Even number', 'Odd number', 'Even number', 'Odd number']

In [23]:
lis = [i for i in range(100)  if i % 5 == 0 if i % 3 == 0]
print(lis)

[0, 15, 30, 45, 60, 75, 90]

### Lambda function

In [24]:
lambda a , b : a + b

In [26]:
lambda(2,5)

SyntaxError: invalid syntax (3133573055.py, line 1)

In [27]:
fun1 = lambda a , b : a + b

In [28]:
fun1(2,6)

8

In [29]:
str1 = 'python is a data science language'

fun3 = lambda string_var: string_var.upper()

In [30]:
fun3(str1)

'PYTHON IS A DATA SCIENCE LANGUAGE'

In [31]:
fun4 = lambda string_var: string_var.upper()

In [32]:
fun4(str1)

'PYTHON IS A DATA SCIENCE LANGUAGE'

In [34]:
is_even_list= [lambda arg=x: arg * 10 for x in range(1, 5)]

In [35]:
is_even_list

[<function __main__.<listcomp>.<lambda>(arg=1)>,
 <function __main__.<listcomp>.<lambda>(arg=2)>,
 <function __main__.<listcomp>.<lambda>(arg=3)>,
 <function __main__.<listcomp>.<lambda>(arg=4)>]

In [36]:
for item in is_even_list:
    print(item())

10
20
30
40

In [37]:
Max = lambda a, b : a if(a > b) else b

In [38]:
Max(3,7)

7

In [39]:
perc = lambda a, b: (a*b)/100

In [40]:
perc(99, 20)

19.8

In [41]:
import re

txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

None

In [42]:
 var1 = "A special sequence is a \followed by one of the characters in the list below, and has a special meaning: See more"

In [44]:
re.search("of", var1)

In [45]:
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [56]:
txt = "The rain in Spain"
x = re.split("\s", txt, 5)
print(x)

['The', 'rain', 'in', 'Spain']

In [57]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [58]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

In [59]:
txt = "The rain in Spain"
x = re.search("ai", txt)
print(x) #this will print an object

<re.Match object; span=(5, 7), match='ai'>

In [86]:
len(txt)

17

In [85]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x)

<re.Match object; span=(12, 17), match='Spain'>

In [69]:
txt = "The rain in Spain"
txt1 = "python java"
x = re.search(r"\bja\w+", txt1)
print(x.string)

python java

In [73]:
txt = "The rain in Spain"
txt1 = "python java"
x = re.search(r"\bp\w+", txt1)
print(x.group())

python

In [74]:
print('Three Digit:', re.search(r'[\d]{3,4}', '189')) 
#print('Four Digit:', re.search(r'[\d]{3,4}', '2145'))

Three Digit: <re.Match object; span=(0, 3), match='189'>

In [102]:
txt = "alpha 2020"

re.search(r'[\d]{1,5}', txt)

In [129]:
grp = re.search(r'([\d]{2}) ([\d]{4})','26 12 2020') 
print(grp.group())

12 2020