In [1]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', "May", 'Jun', 'Jul', "Aug", 'Sep', 'Oct', 'Nov', 'Dec']
month_list[9] # accessing Oct

'Oct'

In [2]:
days_list = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
days_list[9] # accessing days of Oct

31

In [3]:
empty_dict = {}
empty_dict

{}

In [4]:
my_dict = {"Jan": 31, 'Feb':28, 'March': 31, 'Apr':30} # keys are strings
my_dict

{'Jan': 31, 'Feb': 28, 'March': 31, 'Apr': 30}

In [5]:
dict2 = {1:'Jan', 2:'Feb', 3:'March', 4:'April'}  # keys are numbers
dict2

{1: 'Jan', 2: 'Feb', 3: 'March', 4: 'April'}

In [6]:
dict3 = {(1, 2019) : 'Jan', (2, 2019):'Feb'}  #keys are tuples
dict3

{(1, 2019): 'Jan', (2, 2019): 'Feb'}

In [7]:
dict4 = {[1, 2019] : 'Jan', [2, 2019]:'Feb'}  #keys cannot be list
dict4

TypeError: unhashable type: 'list'

In [8]:
dict5 = {'Jan':[1, 2019],'Feb':[2, 2019]}  #keys are strings
dict5

{'Jan': [1, 2019], 'Feb': [2, 2019]}

In [9]:
type(my_dict)

dict

In [10]:
len(my_dict)

4

In [11]:
my_dict

{'Jan': 31, 'Feb': 28, 'March': 31, 'Apr': 30}

In [12]:
d = dict([('A',1), ('B',2), ('C',3)])
d

{'A': 1, 'B': 2, 'C': 3}

In [13]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [16]:
my_dict["Apr"]

30

In [17]:
my_dict.keys()  # get all the keys of dictionary object

dict_keys(['Jan', 'Feb', 'March', 'Apr'])

In [18]:
my_dict.values()

dict_values([31, 28, 31, 30])

In [19]:
my_dict.items()

dict_items([('Jan', 31), ('Feb', 28), ('March', 31), ('Apr', 30)])

In [22]:
my_dict.pop("Jan")

31

In [23]:
my_dict

{'Feb': 28, 'March': 31, 'Apr': 30}

In [24]:
my_dict['xyz']

KeyError: 'xyz'

In [25]:
my_dict.get('xyz') # even if key is not present in the dictionary does not throw error

In [26]:
my_dict.get('Apr')

30

In [27]:
'Apr' in my_dict  # check whether entry with key 'Apr' is present or not

True

In [28]:
31 in my_dict  # check whether entry with key 'Apr' is present or not

False

In [29]:
'Apr' not in my_dict

False

In [30]:
#Dictionary with Roman numerals
letter_dict = { 'I':1, 'V':5, 'X':10, 'L':50, 'C':100, 'D':500, "M":1000}
letter_dict

{'I': 1, 'V': 5, 'X': 10, 'L': 50, 'C': 100, 'D': 500, 'M': 1000}

In [32]:
for i in letter_dict:   # iterate over keys
    print("   " , i)

    I
    V
    X
    L
    C
    D
    M

In [31]:
for i in month_list:
    print(i)

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [33]:
for i in letter_dict.keys():    
    print("   " , i)

    I
    V
    X
    L
    C
    D
    M

In [34]:
for i in letter_dict.values():    
    print("   " , i)

    1
    5
    10
    50
    100
    500
    1000

In [35]:
for i in letter_dict.items():    
    print("   " , i)

    ('I', 1)
    ('V', 5)
    ('X', 10)
    ('L', 50)
    ('C', 100)
    ('D', 500)
    ('M', 1000)

In [37]:
for i, j in letter_dict.items():
    print(i,"--",  j)

I -- 1
V -- 5
X -- 10
L -- 50
C -- 100
D -- 500
M -- 1000

In [38]:
my_dict

{'Feb': 28, 'March': 31, 'Apr': 30}

In [39]:
my_dict['May'] = 31
my_dict

{'Feb': 28, 'March': 31, 'Apr': 30, 'May': 31}

In [40]:
my_dict['June'] = 30
my_dict

{'Feb': 28, 'March': 31, 'Apr': 30, 'May': 31, 'June': 30}

In [41]:
my_dict['May'] = 25 # change it to 25
my_dict['May']

25

In [42]:
my_dict

{'Feb': 28, 'March': 31, 'Apr': 30, 'May': 25, 'June': 30}

In [43]:
del(my_dict["May"])   #key 'May' is removed from the dictionary
my_dict

{'Feb': 28, 'March': 31, 'Apr': 30, 'June': 30}

In [45]:
del(dict3)

In [46]:
#Cretae a employee database with emp id as key and list of employees where each value in list has property of an employee
emp_data = { 1:['1','Emp A', 34] , 2:['2','Emp B', 35], 3:['3','Emp C', 36]}

print(emp_data)

{1: ['1', 'Emp A', 34], 2: ['2', 'Emp B', 35], 3: ['3', 'Emp C', 36]}

In [47]:
new_emp = ['4', 'Emp D', 45]  #create employee 
emp_data[4] = new_emp  # add employee to the dictionary
emp_data

{1: ['1', 'Emp A', 34],
 2: ['2', 'Emp B', 35],
 3: ['3', 'Emp C', 36],
 4: ['4', 'Emp D', 45]}

In [49]:
emp_data[3][1]

'Emp C'

In [51]:
emp_data1 = { 1:['1','Emp A', 34, ("a", "b", {"code": {22, 44, 88}})] , 2:['2','Emp B', 35, {3,4,5}], 3:['3','Emp C', 36]}

In [52]:
emp_data1

{1: ['1', 'Emp A', 34, ('a', 'b', {'code': {22, 44, 88}})],
 2: ['2', 'Emp B', 35, {3, 4, 5}],
 3: ['3', 'Emp C', 36]}

In [60]:
emp_data1[1][3][2]["code"]

{22, 44, 88}

In [61]:
year = {'January':31, 'February':28, 'March':31, 'April':30, "May":31, 'June':30, 'July':31, "August":31, 'September':30,
          'October':31, 'November':30, 'December':31}

In [63]:
#(a) Ask the user to input a month name and use the dictionary to tell how many days are in that month.
month_name = input("Enter the month\n")
print(month_name, " has ", year[month_name], " days.")

Enter the month
May
May  has  31  days.

In [64]:
#(b) Print out all the keys in alphabetical order.
#print("\nThe keys in alphabetical order : \n")
for key in sorted(year.keys()):
    print(key)

April
August
December
February
January
July
June
March
May
November
October
September

In [65]:
for key in sorted(year.values()):
    print(key)

28
30
30
30
30
31
31
31
31
31
31
31

In [79]:
count = 4
teams = {}

for i in range(count):
    team_name = input("Enter the team name\n")
    wins = int(input("Enter the wins\n"))
    losses = int(input("Enter the losses\n"))
    teams[team_name] = [wins, losses]
print("\n")    
team_name = input("Enter the team name\n")
print("The winning percentage is ", teams[team_name][0]/(teams[team_name][0] + teams[team_name][1]))

Enter the team name
mi
Enter the wins
5
Enter the losses
5
Enter the team name
csk
Enter the wins
5
Enter the losses
5
Enter the team name
rcb
Enter the wins
0
Enter the losses
10
Enter the team name
rr
Enter the wins
1
Enter the losses
9


Enter the team name
rr
The winning percentage is  0.1

In [75]:
teams

{'csk': [5, 5]}

In [70]:
print("\n")    
team_name = input("Enter the team name\n")
print("The winning percentage is ", teams[team_name][0]/(teams[team_name][0] + teams[team_name][1]))

Enter the team name
MI

KeyError: 'MI'

In [80]:
winning_list = []
for value in teams.values():
    winning_list.append(value[0])
    
print('The winning list is ', winning_list)
print()
print(teams.values())

The winning list is  [5, 5, 0, 1]

dict_values([[5, 5], [5, 5], [0, 10], [1, 9]])

In [81]:
import re

In [84]:
import re 


match = re.search(r'portal', 'GeeksforGeeks: A computer science \ portal for geeks') 
print(match) 
print(match.group()) 

print('Start Index:', match.start()) 
print('End Index:', match.end())

<re.Match object; span=(36, 42), match='portal'>
portal
Start Index: 36
End Index: 42

In [85]:
# Python3 program introducing f-string
val = 'Geeks'

print(f"{val} for {val} is a portal for {val}.")

Geeks for Geeks is a portal for Geeks.

In [86]:
print(val, "for", val, "is a portal for ", val)

Geeks for Geeks is a portal for  Geeks

In [88]:
print(f"{val} is a palform {val} where we can learn python")

Geeks is a palform Geeks where we can learn python

In [89]:
match = re.search(r'portal', 'GeeksforGeeks: A computer science \ portal for geeks')

In [90]:
match

In [91]:
print(match)

<re.Match object; span=(36, 42), match='portal'>

In [92]:
print(match.group())

portal

In [93]:
print('Start Index:', match.start())

Start Index: 36

In [94]:
print('End Index:', match.end())

End Index: 42

In [98]:
import re 


print(re.findall(r'[Gg]eeks', 'GeeksforGeeks: \ A computer science portal for geeks, Geeks'))

['Geeks', 'Geeks', 'geeks', 'Geeks']

In [99]:
import re 


print('Range',re.search(r'[a-zA-Z]', 'x'))

Range <re.Match object; span=(0, 1), match='x'>

In [100]:
import re 

print(re.search(r'[^a-z]', 'c'))

None